//beakpoints and Media Qu
@media (max-width: 768px){

    .wrapper{
        flex-direction: column;
        align-items: center;
        background-color: #007f5f;
        height: 100%;


        .hero_image{
            .heroimage{
                width: 30%;
                height: auto;
                padding: 40px;
            }
        }

        .content{
            background-color: #fff;
            height: 100%;
            width: 80%;
            overflow-y: auto;
            border-radius: 20px;
            text-align: center;
            padding: 3%;

            .container_1{
                display: none;
            };

            .container_2{
                .header{
                h1{
                    font-size: 31px;
                    font-family: gilroyextrabold;
                    padding: 20px 0px 8px 0px
                }
                }
            }

            .container_3{
                form{
                    text-align: left;

                    .header{
                        text-align: center;
                    }

                    .form_element{
                        input{
                            height: 40px;
                            font-size: 10px;
    
                        }
                    }
                    

                    .submit{
                        justify-content: center;
                        
                        input{
                            width: 100%;
                            height: 50%;
                        }
                    }
                }
            }
        }
    }
}